{namespace view}

{template issueList}
  <table>
    <tr><th>Id</th><th>Subject</th><th>Created by</th><th>Last change</th></tr>
    {foreach $issue in $issues}
      {call issueRow data="$issue" /}
    {/foreach}
  </table>
{/template}

{template issueRow}
  <tr>
    <td><a href="{$href}">{$id}</a></td>
    <td><a href="{$href}">{$subject}</a></td>
    <td><a href="{$creator.href}">{$creator.name}</a></td>
    <td>{$changeTime}</td>
  </tr>
{/template}

{template issue}
  <h1>Issue #{$issue.id}: {$issue.subject}</h1>
  <table>
    <tr><th>User</th><th>Text</th><th>Time</th><th>Attachments</th></tr>
    {foreach $note in $notes}
      {call noteRow data="$note" /}
    {/foreach}
  </table>
  {call createNote data="all"/}
{/template}

{template issueNote}
  {call issue data="all" /}
{/template}

{template noteRow}
  <tr>
    <td><a href="{$user.href}">{$user.name}</a></td>
    <td>{$text}</td>
    <td>{$changeTime}</td>
    <td>
      {foreach $file in $files}
        <a href="{$file.href}">{$file.name}</a><br/>
      {/foreach}
    </td>
  </tr>
{/template}

{template createIssue}
  <form method="post" action="/area/{$area.id}/issue/">
    Subject: <input name="subject" type="text" />
    <input type="submit" value="save" name="save" />
  </form>
{/template}

{template createNote}
  <form method="post" action="/area/{$issue.area.id}/issue/{$issue.id}/note/"
        enctype="multipart/form-data" accept-charset="UTF-8">
    Text: <input name="text" type="text" />
    File: <input name="file" type="file" />
    <input type="submit" value="Comment" name="save" />
  </form>
{/template}
