{namespace view}

{template issueList}
  <table>
    <tr><th>Id</th><th>Subject</th><th>Created by</th></tr>
    {foreach $issue in $issues}
      {call issueRow data="$issue" /}
    {/foreach}
  </table>
  {call createIssue /}
{/template}

{template issueRow}
  <tr>
    <td><a href="{$href}">{$id}</a></td>
    <td><a href="{$href}">{$subject}</a></td>
    <td><a href="{$creator.href}">{$creator.name}</a></td>
  </tr>
{/template}

{template issue}
  <h1>Issue #{$issue.id}: {$issue.subject}</h1>
  <table>
    <tr><th>User</th><th>Text</th></tr>
    {foreach $note in $notes}
      {call noteRow data="$note" /}
    {/foreach}
  </table>
  {call createNote data="all"/}
{/template}

{template noteRow}
  <tr>
    <td><a href="{$user.href}">{$user.name}</a></td>
    <td>{$text}</td>
  </tr>
{/template}

{template createIssue}
  <form method="post" action="/issue/">
    Subject: <input name="subject" type="text" />
    <input type="submit" value="save" name="save" />
  </form>
{/template}

{template createNote}
  <form method="post" action="/issue/{$issue.id}/note/">
    Text: <input name="text" type="text" />
    <input type="submit" value="Comment" name="save" />
  </form>
{/template}
