{namespace view}

{template login}
  <form method="post">
    User name: <input name="username" type="text" /><br>
    Password: <input name="password" type="password" /><br>
    <input type="submit" value="login" name="login" />
    {if $forward}
      <input type="hidden" name="forward" value="{$forward}" />
    {/if}
  </form>
{/template}
