{namespace view}

{template main}
  <html>
    <head>
      <title>{$title}</title>
    </head>
    <body>
      {$body | noAutoescape}
      {call pages data="all" /}
      {call links data="all" /}
    </body>
  </html>
{/template}

{template links}
  {if $links}
    <ul>
      {foreach $link in $links}
        <li>{call link data="$link" /}</li>
      {/foreach}
    </ul>
  {/if}
{/template}

{template link}
  {if $href}
    <a href="{$href}">{$text}</a>
  {else}
    {$text}
  {/if}
{/template}

{template pages}
  {foreach $page in $pages}
    {call link data="$page" /}&nbsp;
  {/foreach}
{/template}
