{namespace supportcentre.view}

{template main}
  <html>
    <head>
      <title>{$title}</title>
    </head>
    <body>
      {$body | noAutoescape}
    </body>
  </html>
{/template}

{template issueList}
  <table>
    <tr><th>Id</th><th>Subject</th><th>Created by</th></tr>
    {foreach $issue in $issues}
      {call issueRow data="$issue" /}
    {/foreach}
  </table>
{/template}

{template issueRow}
  <tr>
    <td>{$id}</td>
    <td>{$subject}</td>
    <td>{$creator.name}</td>
  </tr>
{/template}

{template issue}
  <h1>Issue #{$issue.id}: {$issue.subject}</h1>
{/template}

{template createIssue}
  <form method="post">
    Subject: <input name="subject" type="text" />
    <input type="submit" value="save" name="save" />
  </form>
{/template}

{template register}
  <form method="post">
    User name: <input name="username" type="text" /><br>
    Real name: <input name="realname" type="text" /><br>
    <input type="submit" value="register" name="register" />
  </form>
{/template}
