{namespace view}

{template user}
  <p>{$title} ({$user.realname})</p>
  {call issueList data="all" /}
{/template}

{template userList}
  <table>
    <tr><th>Id</th><th>Username</th><th>Real name</th></tr>
    {foreach $user in $users}
      {call userRow data="$user" /}
    {/foreach}
  </table>
{/template}

{template userRow}
  <tr>
    <td><a href="{$href}">{$id}</a></td>
    <td><a href="{$href}">{$name}</a></td>
    <td><a href="{$href}">{$realname}</a></td>
  </tr>
{/template}

{template register}
  <form method="post">
    User name: <input name="username" type="text" value="{$username}" />
    {if $missing == 'username'}Required!{/if}
    <br>
    Real name: <input name="realname" type="text" value="{$realname}" />
    {if $missing == 'realname'}Required!{/if}
    <br>
    Password: <input name="password" type="password" />
    {if $missing == 'password'}Required!{/if}
    <br>
    <input type="submit" value="register" name="register" />
    <br>
    {$message}
  </form>
{/template}
